<title>Choas Gaem</title><canvas id=c></canvas><script>x=c.getContext`2d`;R=R=>Math.random()*R|0;r=r=>[R(c.width=innerWidth),R(c.height=innerHeight)];s=[C=r(),r(),r()];x.fillStyle="#fff";s.map(p=p=>x.fillRect(...p,1,1));m=m=>(C[m]+o[m])/2|0;setInterval`o=s[R(3)];p(C=[m(0)${9}m(1)])`</script><style>*{margin:0;overflow:hidden;background:#000}
